/* CODECOV */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
select{
  width: 455px;
}
.main-div {
  display: flex;
  width: 100%;
  height: 100vh;
}
.left {
  background-color: #0f1b29;
  width: 50%;
}
.right {
  width: 50%;
}
.left > img {
  width: 190px;
  margin: 30px 0px 0px 80px;
}
.left > img ~ div {
  margin: 25vh auto;
  width: 450px;
  height: 250px;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
}
.left > img ~ div > p:first-child {
  font-size: 32px;
  color: white;
  margin-bottom: 12px;
  font-weight: bolder;
}
.left > img ~ div > p > span {
  color: #ff0077;
}
.left > img ~ div > p:nth-child(2) {
  margin-bottom: 20px;
  color: white;
}
.left > img ~ div > p:nth-child(3) > span {
  color: #ff0077;
}
.left > img ~ div > p:nth-child(3) {
  color: white;
}
.right > div {
  display: grid;
  margin: 23vh auto;
  width: 450px;
  height: 400px;
  font-family: Arial Semibold;
  font-size: 13px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10px 40px 10px 40px 10px 40px 10px 120px 52px;
  grid-template-areas:
    "fname lname"
    "fname-ip lname-ip"
    "email phone"
    "email-ip phone-ip"
    "opn opn"
    "opn-ip opn-ip"
    "msg msg"
    "msg-ip msg-ip"
    "submit-btn submit-btn";
  grid-row-gap: 20px;
  grid-column-gap: 7px;
}
.right > div > input,
.right > div > select {
  border: 1px solid thistle;
  border-radius: 4px;
}
.fname {
  grid-area: fname;
}
.fname-ip {
  grid-area: fname-ip;
}
.lname {
  grid-area: lname;
}
.lname-ip {
  grid-area: lname-ip;
}
.email {
  grid-area: email;
}
.email-ip {
  grid-area: email-ip;
}
.phone {
  grid-area: phone;
}
.phone-ip {
  grid-area: phone-ip;
}
.opn {
  grid-area: opn;
}
.opn-ip {
  grid-area: opn-ip;
}
.msg {
  grid-area: msg;
}
.msg-ip {
  grid-area: msg-ip;
}
.submit-btn {
  grid-area: submit-btn;
  background-color: #ff0077;
  color: white;
  border-radius: 6px;
  border: 1px solid #ff0077;
  font-size: 18px;
  font-weight: 600;
}
.color {
  color: #ff0077;
}
@media only screen and (max-width: 992px) {
  .main-div {
    flex-direction: column;
  }
  select{
    width: 79vw;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .left > img ~ div > p:first-child {
    text-align: center;
  }
  .left > img {
    width: 190px;
    margin: 10vh 39vw;
  }
  .left > img ~ div {
    margin: -70px auto 0px auto;
    width: 80%;
    height:35vh;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    text-align: center;
  }
  .right > div {
  margin: 8vh auto;
  width: 80%;
  height: 65vh;
  }

}
@media only screen and (max-width: 870px){
  .left > img {
    margin: 10vh 36vw;
  }
}
@media only screen and (max-width: 768px){
  .left > img ~ div {
    width: 80%;        
  }
}
@media only screen and (max-width: 700px){
  .left > img {
    margin: 10vh 33vw;
  }
}
@media only screen and (max-width: 668px){
  .left > img ~ div {
    width: 80%;      
    height: 39vh;  
  }
}
@media only screen and (max-width: 570px){
  .left > img {
    margin: 10vh 31vw;
  }
}
@media only screen and (max-width: 500px){
  .left > img {
    margin: 10vh 28vw;
  }
}
@media only screen and (max-width: 482px){
  .right{
    width: 50%;
  }
  select{
    width: 70vw;
  }
  .right > div {
  margin: 6vh auto;
  width: 50%;
  height: 100vh;
  font-family: Arial Semibold;
  font-size: 13px;
  grid-template-columns: 70vw;
  grid-template-rows: 10px 40px 10px 40px 10px 40px 10px 40px 40px;
  grid-template-areas:
    "fname"
    "fname-ip"
    "lname"
     "lname-ip"
    "email" 
    "email-ip"
    "phone"
     "phone-ip"
    "opn"
     "opn-ip"
    "msg" 
    "msg-ip" 
     "submit-btn";
  grid-row-gap: 20px;
}
}
@media only screen and (max-width: 450px){
  .left > img {
    margin: 10vh 26vw;
  }
  .left > img ~ div {
    width: 80%;
    height:47vh;
  }
}
@media only screen and (max-width: 357px){
  .left > img {
    margin: 10vh 26vw;
  }
  .left > img ~ div {
    width: 80%;
    height:55vh;
  }
}
@media only screen and (max-width: 384px){
  .left > img {
    margin: 10vh 23vw;
  }
}
@media only screen and (max-width: 336px){
  .left > img {
    margin: 10vh 19vw;
  }
}
@media only screen and (max-width: 279px){
  .left > img {
    margin: 10vh 12vw;
  }
  .left > img ~ div {
    width: 80%;
    height:62vh;
  }
}
@media only screen and (max-width: 260px){
  .left > img {
    margin: 10vh 12vw;
  }
  .left > img ~ div {
    width: 80%;
    height:74vh;
  }
}
@media only screen and (max-width: 218px){
  .left > img {
    margin: 10vh 12vw;
    width: 150px;
  }
  .left > img ~ div {
    width: 80%;
    height:90vh;
  }
}
@media only screen and (max-width: 195px){
  .left > img {
    margin: 10vh 12vw;
    width: 125px;
  }
  .left > img ~ div {
    width: 80%;
    height:90vh;
  }
}
@media only screen and (max-width: 176px){

  .left > img ~ div {
    width: 80%;
    height:120vh;
  }
}