/* CODECOV */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
#container {
  margin: auto ;
  font-family: 'Poppins', sans-serif;  
}
.collapsible{
  display: none;
}
.row-1 {
  padding-top: 10px ;
  display: flex;
  width: 90%;
  margin: auto;
  display: flex;
}
.row-1 > a {
  margin: 10px;
  font-size: 18px;
  font-weight: normal;
  width: 20%;
  text-decoration: none;
  color: black;
  display: flex;
  margin-top: 35px;
  padding-left: 3px;
}
.row-1 > a > h5 {
  font-weight: normal;
  font-size: 18px;
}
.signup {
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.logo {
  width: 220px;
  padding: 3px;
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 0px;
  margin: 0px;
}
.heading {
  font-size: 52px;
  width: 777px;
  height: 72px;
  margin: 70px auto 170px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
#desc-cont {
  display: grid;
  margin: 80px auto;
  width: 949px;
  height: 662px;
  grid-template-rows: 520px 100px;
  grid-template-columns: 444px 395px;
  grid-row-gap: 40px;
  grid-column-gap: 100px;
  grid-template-areas:
    "left right"
    "bottom bottom";
  margin-bottom: 120px;
}
.unique {
  display: grid;
  margin: 80px auto;
  width: 949px;
  height: 662px;
  grid-template-rows: 520px 100px;
  grid-template-columns: 444px 395px;
  grid-row-gap: 40px;
  grid-column-gap: 100px;
  grid-template-areas:
    "right left"
    "bottom bottom" !important;
  margin-bottom: 120px;
}
.unique > #left {
  background-color: #401342 !important;
  margin-left: -75px;
}
.unique > #left > div > img {
  height: 25px !important;
}
#desc-cont > #left {
  background-color: #3498db;
  grid-area: left;
  width: 440px;
  height: 520px;
  border-radius: 12px;
}
#desc-cont > #left > div {
  width: 364px;
  height: 65px;
  margin: 116px auto 20px auto;
}
#desc-cont > #left > div > img {
  height: 65px;
  float: right;
  clear: both;
}
#desc-cont > #left > p:first-of-type {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  width: 364px;
  height: 224px;
  margin: 0px auto 0px auto;
  padding: 0px 10px 20px 10px;
  color: white;
}
#desc-cont > #left > p:nth-of-type(2) {
  width: 364px;
  height: 39px;
  font-size: 16px;
  margin: 20px 40px 40px 40px;
  line-height: 20px;
  font-style: italic;
  color: white;
  padding: 0px 10px;
}
#desc-cont > #right {
  grid-area: right;
  width: 395px;
  height: 520px;
  display: grid;
}
#desc-cont > #right > div > img {
  width: 80px;
  margin-top: 10vh;
}
#right > p:first-of-type {
  font-size: 32px;
  font-weight: bolder;
  margin-top: 10px;
}
#right > p:nth-of-type(2) {
  width: 365px;
  height: 160px;
  margin: 10px 0px;
}

#right > p:nth-of-type(3) {
  width: 365px;
  height: 160px;
}
#right > p:nth-of-type(3) > span {
  color: #ff0077;
  margin-right: 20px;
}

#desc-cont > #bottom {
  grid-area: bottom;
}
.extra-margin {
  margin-top: -55px;
}
.diff {
  margin-top: 100px;
}
#grid-cont {
  width: 75vw;
  margin: auto;
  height: 1646px;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px 25px;
}
#grid-cont > .item {
  display: grid;
  flex-wrap: wrap;
  width: 205px;
  height: 205px;
  place-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
}
#grid-cont > .item > img {
  width: 150px;
}
.subheading {
  text-align: center;
  margin-bottom: 70px;
}
select {
  width: 347px;
  height: 36px;
  font-size: 20px;
  margin: auto;
}
.flex {
  display: flex;
  width: 750px;
  height: 36px;
  margin: auto;
  margin-bottom: 30px;
  align-items: center;
}
.flex > div:first-of-type {
  width: 347px;
  height: 36px;
  margin-right: 30px;
  border-radius: 4px;
}
.flex > div:nth-of-type(2) > input {
  width: 349px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid gray;
}
#bottom {
  display: flex;
  justify-content: space-evenly;
}
#bottom > img {
  width: 75px;
}
/* #navbar {
  display: flex;
  width: 90%;
  height: 30px;
  margin: 50px auto 60px auto;
  align-items: center;
  justify-content: space-between;
}
#navbar > div {
  padding: 0px 12px;
}
#navbar > div > p {
  font-size: 19px;
  font-weight: 500;
}
#navbar > .item-9 > button {
  width: 128px;
  height: 56px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid black;
}
#navbar > div > img {
  height: 32px;
}
#container {
  margin: auto;
  font-family: "Poppins", sans-serif;
} */
.row-13 {
  margin: auto;
  margin-top: 75px;
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 140px;
  display: flex;
}
.row-13 > div ~ h4,
.row-13 > div > h4 ~ p {
  margin: 0%;
  padding: 5px;
  font-size: 14px;
}
.row-13 > div {
  width: 16%;
}
@media screen and (max-width: 1474px) {
  #grid-cont {
    height: 1500px;
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    width: 190px;
    height: 190px;
  }
  #grid-cont > .item > img {
    width: 130px;
  }
}
@media screen and (max-width: 1363px) {
  #grid-cont {
    height: 1500px;
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    width: 180px;
    height: 180px;
  }
  #grid-cont > .item > img {
    width: 130px;
  }
}
@media screen and (max-width: 1274px) {
  .item-3{
    display: none;
  }
  #grid-cont {
    height: 1500px;
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    width: 160px;
    height: 160px;
  }
  #grid-cont > .item > img {
    width: 120px;
  }
}
@media screen and (max-width: 1088px) {
  #grid-cont {
    height: 1200px;
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    width: 150px;
    height: 150px;
  }
  #grid-cont > .item > img {
    width: 110px;
  }
  .item-8{
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  #grid-cont {
    height: 1200px;
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    width: 100px;
    height: 100px;
  }
  #grid-cont > .item > img {
    width: 100px;
  }
 
}
@media screen and (max-width: 992px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 1000px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 130px;
    height: 130px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 80px;
  }
  #desc-cont {
    width: 949px;
    height: 662px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "right"
      "left"
      "bottom";
    width: 100%;
    margin-bottom: 550px;
  }
  #desc-cont > #left {
    background-color: #3498db;
    /* background-image: url(udaci.jpg); */
    grid-area: left;
    width: 70vw;
    margin: auto;
    height: auto;
    border-radius: 12px;
  }
  #desc-cont > #left > div {
    width: 90%;
    text-align: right;
    height: 65px;
    margin: 210px auto 20px auto;
  }
  #desc-cont > #left > div > img {
    height: 65px;
  }
  #desc-cont > #left > p:first-of-type {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 90%;
    height: auto;
    margin: 0px auto 0px auto;
    padding: 0px 10px 20px 10px;
    color: white;
  }
  #desc-cont > #left > p:nth-of-type(2) {
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    text-align: left;
    width: 90%;
    height: auto;
    margin: 0px auto 0px auto;
    padding: 0px 10px 20px 10px;
  }
  #desc-cont > #right {
    grid-area: right;
    /* background-color: red; */
    width: 80%;
    height: 51vh;
    margin: 0px auto;
    display: grid;
  }
  #desc-cont > #right > div {
    width: auto;
    text-align: center;
  }

  #desc-cont > #right > div > img {
    width: 80px;
    margin: auto;
  }
  #right > p:first-of-type {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 10px;
  }
  #right > p:nth-of-type(2) {
    text-align: center;
    width: 100%;
    height: auto;
  }

  #right > p:nth-of-type(3) {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  #right > p:nth-of-type(3) > span {
    color: hsl(332, 100%, 50%);
  }
  #bottom {
    margin: 50px auto;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
  }
  #bottom > img {
    width: 60px;
  }
  .unique {
    width: 949px;
    height: 80px;
    margin-top: 314px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "right"
      "left"
      "bottom" !important;
    width: 100%;
  }
  .unique > #left {
    background-color: #401342 !important;
  }
  .unique > #left > div > img {
    height: 25px !important;
  }
  .flex {
    display: flex;
    flex-direction: column;
    width: 68vw;
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
    gap: 30px;
  }
  .flex > div:first-of-type {
    width: 100%;
    height: 36px;
    margin-right: 30px;
    border-radius: 4px;
  }
  .flex > div:nth-of-type(2) > input {
    width: 70vw;
    margin-left: -10px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid gray;
  }
  select {
    width: 70vw;
  }
  select:focus {
    min-width: 70vw;
    width: auto;
  }
  .item-2,.item-3,.item-4,.item-5,.item-6,.item-7,.item-8,.item-9{
    display: none;
  }
}
@media screen and (max-width: 983px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 1000px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 110px;
    height: 110px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 80px;
  }
}
@media screen and (max-width: 833px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 800px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 70px;
  }
}
@media screen and (max-width: 800px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 700px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 70px;
  }
  .heading {
    font-size: 52px;
    width: 80%;
    height: 72px;
    margin: 70px auto 170px auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
}
@media screen and (max-width: 735px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 700px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 85px;
    height: 85px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 70px;
  }
  #bottom {
    margin: 50px auto;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
  }
  #bottom > img {
    width: 50px;
  }
}
@media screen and (max-width: 702px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 700px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 60px;
  }
}
@media screen and (max-width: 669px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 500px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 50px;
  }
}
@media screen and (max-width: 606px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 30px;
  }
 
}
@media screen and (max-width: 546px) {
  #desc-cont {
    margin-bottom: 600px;
  }
}
@media screen and (max-width: 537px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    margin: 0px auto 200px auto;
  grid-gap: 3px 3px;

  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 30px;
  }
  #desc-cont > #right {
    grid-area: right;
    width: 395px;
    height: 520px;
    display: grid;
  }
  #bottom {
    margin: 50px auto;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
  }
  #bottom > img {
    width: 30px;
  }
  #desc-cont {
    margin-bottom: 800px;
  }
}
@media screen and (max-width: 351px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto 200px auto;
  grid-gap: 10px 10px;

  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 50px;
    height: 5 0px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 30px;
  }
}
@media screen and (max-width: 302px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto 200px auto;
  grid-gap: 5px 0px;

  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 60px;
    height: 60px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 30px;
  }
}
@media screen and (max-width: 244px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto 200px auto;
  grid-gap: 10px 0px;

  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 40px;
  }
}
@media screen and (max-width: 190px) {
  #grid-cont {
    width: 75vw;
    display: grid;
    height: 400px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: 0px auto 200px auto;
  grid-gap: 10px 0px;

  }
  #grid-cont > .item {
    display: grid;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px 0px;
  }
  #grid-cont > .item > img {
    width: 60px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
  #container {
      flex-direction: column;
  }
  .row-1 {
      display: flex;
      flex-direction: column;
  }
  .logo {
      padding: 0px;
      margin: auto;
  }
  .collapsible {
      cursor: pointer;
      padding: 18px;
      border: none;
      text-align: right;
      outline: none;
      font-size: 15px;
      display: block;
      background-color: rgb(235, 199, 235);
  }
  .collapsible > button {
      color: #f72585;
      border: #f72585 1px solid;
      border-radius: 5px;
      background-color: rgb(235, 199, 235);
      width: 50px;
      text-align: center;
  }
  .collapsible > a {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
      text-align: center;
      margin: auto;
    }
  .active, .collapsible:hover {
      background-color: rgb(235, 199, 235);
    }
  .row-13 {
      flex-direction: column;
      text-align: center;
      padding: 0px;
  }
  .row-13 >  div {
      margin: auto;
      
  }
} 
