/* CODECOV */

body {
    background-color: #f8f9fa;
    width: 99%;
    font-family: "poppins",-apple-system,BlinkMacSystemFont,Roboto,"Arial",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}
.collapsible{
    display: none;
}
.row-1 {
    padding-top: 10px ;
    display: flex;
    width: 90%;
    margin: auto;
}
.row-1 > a {
    margin: 10px;
    font-size: 18px;
    width: 20%;
    text-decoration: none;
    color: black;
}
.signup {
    background-color: black;
    color: white !important;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}
.logo {
    width: 160px;
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
}

h1{
    text-align: center;
    font-size: 45px;
}
h5 {
    text-align: center  ;
    display: flex;
}
.page_head{
    padding: 35px ;
}
.table-container{
    width: 100%;
}

.pricing-tables-container{ 
    display: grid;
    grid-template-columns: repeat(4,300px);
    padding-left: 7% ;
}

.pricing-tables {
    width: 90%;
    box-shadow: 0px 0px 20px 1px lightgray;
    min-width: 250px;
    background-color: white;
    text-align: center;
    height: 500px;
    line-height:15px ;
}
.pricing-tables > img{
    height: 150px;
    min-height: 100px;
}
p+a{
    border-radius: 5px;
    background-color: rgb(0,178,255);
    padding: 10px 30px;
    margin: 5px ;
    color: white;
}
h6{
    line-height: 1px;
    font-size:18px ;
}
h3+h5{
    color: gray;
    font-size: 18px;
    font-weight: 100;
    display: block;
}
 h5+p{
    color: gray;
    
}
p{
    font-size: 12px;
    padding: 0px 10px;
}
.color-pink{
    color: rgb(240,31,122);
    text-align: center;
}
.payment{
    background: rgb(233, 236, 239);
    margin: 15px auto;
    border-radius: 20px;
    width: auto;
    
    display: inline-flex;
    padding: 8px 0px;
}
div > label:nth-child(1){
    border-radius: 20px;
    padding: 8px 16px;
}
a {
    text-align: center;
    font-weight: 300;
    text-decoration: none;
}
#pro_month , #enter_self{
    display: none;
}
.text-center{
    padding-top: 50px;
    text-align: center;
}
#questions{
    width: 50%;
    margin: auto ;
}
.features{
text-align: left;
color: gray;
display: none;
padding-left:10px ;
}
#hide-feature{
    display: none;
}
#faqContainer{
    width: 60%;
    margin: 0% auto;
    /* border: 1px solid black; */
    /* padding: 0.5%; */

}
.faq{
    min-width: 400px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0;
    background-color: #ffffff;
    padding: 5px 50px;
    cursor: pointer;
    box-shadow: 0px 0px 2px lightgray;
    width: 80%;
    border:1px solid lightgray;

}
.faq >h3 >span{
    width: 30%;
    font-size: 30px;
    margin-left: 20%;
    padding: 2px;
    color: teal;
    text-align: end;
    border-radius: 10px;
    background-color: lightgray;
}
.faq > h3+div > p{
    font-size: 16px;
}
.faq >div{
    display: none;
}
.row-13 {
    margin: auto;
    margin-top: 75px;
    background-color: black;
    color: white;
    padding: 20px;
    padding-left: 140px;
    display: flex;
}
.row-13 > div~h4, .row-13>div>h4~p {
    margin: 0%;
    padding: 5px;
    font-size: 14px;
}
.row-13 > div {
    width: 16%;
}
@media only screen and (min-width: 990px) and (max-width: 1100px) {
    #container {
        flex-direction: column;
    }
    .pricing-tables-container{
        grid-template-columns: repeat(2, 400px);
        row-gap: 25px;
        column-gap: 25px;
    }
}
@media screen and (min-width:750px) and (max-width:990px ) {
    #container {
        flex-direction: column;
    }
    .pricing-tables-container{
        grid-template-columns: repeat(2, 300px);
        row-gap: 25px;
        margin-left: 80px;
        column-gap: 25px;
    }
}
@media screen and (min-width:300px) and (max-width:750px) {
    #container {
        flex-direction: column;
    }
    .pricing-tables-container{
        grid-template-columns: repeat(1,400px);
        row-gap: 25px;
        margin : 0% auto;
        column-gap: 25px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 900px) {
    #container {
        flex-direction: column;
    }
    .row-1 {
        display: none;
    }
    .logo {
        padding: 0px;
        margin: auto;
    }
    .collapsible {
        cursor: pointer;
        padding: 18px;
        border: none;
        text-align: right;
        outline: none;
        font-size: 15px;
        display: block;
        background-color: rgb(235, 199, 235);
    }
    .collapsible > button {
        color: #f72585;
        border: #f72585 1px solid;
        border-radius: 5px;
        background-color: rgb(235, 199, 235);
        width: 50px;
        text-align: center;
    }
    .collapsible > a {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        text-align: center;
        margin: auto;
      }
    .active, .collapsible:hover {
        background-color: rgb(235, 199, 235);
      }
      .row-13 {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .row-13 >  div {
        margin: auto;
        
    }
    }